.aurora-container {
  position: fixed;   /* biar jadi background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;       /* di belakang konten */
  pointer-events: none; /* biar ga ganggu klik */
}
